@import 'assets/css/mixin.scss';

.acceptedRqst{
	margin-top:15px;
	color:#088cff;
}
.rejectedRqst{
	color: red;
	margin-top: 15px;
}
.findFrdBg {
    background: #fff;
    box-shadow: #e5e5e5 0 10px 10px 0;
    position: relative;
    @include respond-to(media-lg) {
			padding-bottom: 10px;
		}
    .findfrdHd {
		font-size: 20px;
		color: #000000;
		line-height: 50px;
		font-weight: 500;
		@include respond-to(media-md) {
			font-size: 16px;
			line-height: 30px;

		}
	}
	.findSrchBx {
		
		.form-group{
			margin-bottom: 0;
			input {
				width: 100%;
				height: 50px;
				border-radius: 0;
				border: 0;
				border-left: #ccc solid 1px;
				border-right: #ccc solid 1px;
				@include respond-to(media-md) {
					border:#ccc solid 1px;
					height: 37px;
				}
				@include respond-to(media-xs) {
					height: 40px;
				}
			}

			button {
			    background: no-repeat;
			    border: 0;
			    position: absolute;
			    right: 10px;
				top: 7px;
				@include respond-to(media-lg) {
			    	top: 2px !important;
			    }
			    @include respond-to(media-xs) {
			    	top: 0px;
			    }
			}

		}
	}
	.canclbx{
		@include respond-to(media-lg) {
			padding: 0;
		}
		@include respond-to(media-md) {
			position: absolute;
			right:0;
			top: 0;
		}
		 a {
		    font-size: 12px;
		    line-height: 50px;
		    color: #666;
		    @include respond-to(media-xl) {
		    	font-size: 11px;
		    }
		    @include respond-to(media-md) {
		    	position: absolute;
		    	top:-10px;
		    	right: 100px;		    
		    }
		    @include respond-to(media-sm) {
		    	right: 20px;
		    }
		    &:hover{
		    	color:#118eff;
		    }
		}
	}
}
.dashBg{ 
	background: url(/assets/images/dashBg.png) top center no-repeat; 
	background-size: cover; 
	padding: 50px 0;
	.addFrdInn {
    	background: #fff;
		padding: 20px;
		border-radius: 5px;
		margin-bottom: 20px;
		min-height:135px;
		box-shadow: #ccc 0 2px 5px 0;
		@include respond-to(media-lg) {
			padding: 10px;
		}
		@include respond-to(media-xs) {
			padding: 30px 0;
		}
		.frdListImg{
			img{
			    width: 90px;
			    height: 90px;
			    border-radius: 50%;
			    @include respond-to(media-lg) {
			    	width: 55px;
			    	height: 55px;
			    }
			}
		}
		.frdListName{
			padding: 0px;
			strong{
			    font-size: 22px;
			    font-weight: 500;
			    display: block;
			    line-height: 25px;
			    @include respond-to(media-xl) {
		    		font-size: 18px;
		    	}
		    	@include respond-to(media-lg) {
		    		font-size: 14px;
		    		line-height: 20px;
		    	}
			}
			small{
			    display: block;
			    font-size: 18px;
			    color: #999;
			    @include respond-to(media-xl) {
			    	font-size: 15px;
			    }
			    @include respond-to(media-lg) {
			    	font-size: 12px;
			    }
			}
			span{
			    font-size: 18px;
			    display: block;
			    padding-top: 8px;
			    @include respond-to(media-xl) {
			    	font-size: 15px;
			    }
			    @include respond-to(media-lg) {
			    	font-size: 13px;
			    }
			}
		}
		.frdListBtn{
			text-align: right;
			padding-top: 20px;
			@include respond-to(media-xs) {
				padding-left: 0px;
			}
			.send_reqBtn {
			    border: #d3d3d3 solid 1px;
			    color: #0e8bff;
			    font-size: 13px;
			    padding: 8px 10px;
			    border-radius: 3px;
			    @include respond-to(media-lg) {
			    	font-size: 11px;
			    	padding: 5px 3px;
			    }
			    &:hover{
					background: #0e8bff;
					color: #fff;
					border:#0e8bff;
				}
			}

		}
   	}
}
.dashBg {
	.addFrdInn {
		.frdListBtn {
			.acceptedRqst {
			    border: #ff0000 solid 1px;
			    padding: 8px 0;
			    text-align: center;
			    font-size: 13px;
			    line-height: 22px;
			    color: #ff0000;
			    border-radius: 3px;
		    }
		}	
	}
}
.addsrchfrdBx{
	@include respond-to(media-lg) {
		min-height: 77px !important;
	}
}
.addfrdNameBx {
	padding-top: 36px !important;
	@include respond-to(media-lg) {
		padding-top: 17px !important;
	}
}
.senreqBtnBx{
	padding-top: 30px !important;
	@include respond-to(media-lg) {
		padding-top: 17px !important;
	}
	a{
		display: inline-block;
	}
}