/*Media Query Mixing*/
/*Overlay Mixin*/
/*Color*/
/*white-box Mixin*/
/*blog heading Mixin*/
.NewCssMapBg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 72px;
  bottom: 0; }
  @media (max-width: 767px) {
    .NewCssMapBg {
      top: 55px; } }

.dashvisTopBx {
  display: none; }

.NewCssMapBg + div .btn.btn-danger {
  display: none; }

.findFrdBg.dashboardVisiblity {
  background: #fff;
  box-shadow: none;
  border-bottom: #e5e5e5 solid 2px;
  position: relative; }
  @media (max-width: 991px) {
    .findFrdBg.dashboardVisiblity {
      padding-bottom: 0px; } }
  @media (max-width: 767px) {
    .findFrdBg.dashboardVisiblity {
      padding-bottom: 10px; } }
  .findFrdBg.dashboardVisiblity .findfrdHd {
    font-size: 20px;
    color: #000000;
    line-height: 50px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .findFrdBg.dashboardVisiblity .findfrdHd {
        font-size: 16px;
        line-height: 30px; } }
  .findFrdBg.dashboardVisiblity .trackingBy {
    color: #999;
    padding-top: 12px;
    text-align: right; }
    .findFrdBg.dashboardVisiblity .trackingBy a {
      display: inline-block;
      color: #999;
      font-size: 16px;
      font-weight: 300;
      margin: 0 3px; }
      @media (max-width: 479px) {
        .findFrdBg.dashboardVisiblity .trackingBy a {
          font-size: 13px; } }
      .findFrdBg.dashboardVisiblity .trackingBy a span {
        color: #118eff; }
      .findFrdBg.dashboardVisiblity .trackingBy a:hover {
        color: #000;
        text-decoration: underline; }
  .findFrdBg.dashboardVisiblity .locationtrack {
    display: inline-block;
    vertical-align: top;
    height: 50px; }
    @media (max-width: 767px) {
      .findFrdBg.dashboardVisiblity .locationtrack {
        height: auto;
        padding-top: 10px;
        width: auto;
        padding-bottom: 10px; } }
    .findFrdBg.dashboardVisiblity .locationtrack button {
      display: inline-block;
      position: relative;
      top: 20px;
      z-index: 9;
      border-radius: 50%;
      box-shadow: #ccc 0 0 5px 0;
      border: 0px; }
      @media (max-width: 767px) {
        .findFrdBg.dashboardVisiblity .locationtrack button {
          top: 0;
          width: 40px; } }
  .findFrdBg.dashboardVisiblity .locationtrack2 {
    display: inline-block;
    text-align: right;
    vertical-align: top; }
    @media (max-width: 767px) {
      .findFrdBg.dashboardVisiblity .locationtrack2 {
        width: 70px;
        float: right; } }
    .findFrdBg.dashboardVisiblity .locationtrack2 a {
      display: inline-block;
      position: relative;
      margin-top: 12px; }
  .findFrdBg.dashboardVisiblity .findSrchBx .form-group {
    margin-bottom: 0; }
    .findFrdBg.dashboardVisiblity .findSrchBx .form-group input {
      width: 100%;
      height: 50px;
      border-radius: 0;
      border: 0;
      border-left: #ccc solid 1px;
      border-right: #ccc solid 1px;
      border-bottom: #ccc solid 1px; }
      @media (max-width: 767px) {
        .findFrdBg.dashboardVisiblity .findSrchBx .form-group input {
          border: #ccc solid 1px; } }
      @media (max-width: 479px) {
        .findFrdBg.dashboardVisiblity .findSrchBx .form-group input {
          height: 40px; } }
    .findFrdBg.dashboardVisiblity .findSrchBx .form-group .form-control:focus {
      box-shadow: none !important; }
    .findFrdBg.dashboardVisiblity .findSrchBx .form-group button {
      background: no-repeat;
      border: 0;
      position: absolute;
      right: 10px;
      top: 7px; }
      @media (max-width: 479px) {
        .findFrdBg.dashboardVisiblity .findSrchBx .form-group button {
          top: 3px; } }

.dashboardMapBg {
  background: url("/assets/images/dashboard-map.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; }
  .dashboardMapBg .map-pro-box {
    width: 50% !important;
    height: auto !important; }

.mapleftBx {
  position: fixed;
  left: -280px;
  top: 122px;
  width: 280px;
  height: 100%;
  background: #fff;
  z-index: 999;
  bottom: 0 !important;
  padding: 0px !important;
  overflow: hidden;
  display: block !important; }
  .mapleftBx .mapsrchBx {
    padding: 10px;
    border-bottom: #e5e5e5 solid 1px;
    margin-bottom: 10px;
    background: #f5f5f5; }
    .mapleftBx .mapsrchBx .mapsrchInn {
      position: relative; }
      .mapleftBx .mapsrchBx .mapsrchInn input {
        width: 100%;
        height: 40px;
        border: #e5e5e5 solid 1px;
        padding: 0 30px 0 10px;
        font-size: 14px; }
      .mapleftBx .mapsrchBx .mapsrchInn button {
        background: none;
        border: 0;
        position: absolute;
        top: 8px;
        right: 0;
        width: 38px !important;
        padding: 0 !important; }
  .mapleftBx ul {
    padding: 10px; }
    .mapleftBx ul li {
      border: #007bff solid 1px;
      display: block;
      padding: 7px 12px 10px 50px;
      font-size: 16px;
      margin-bottom: 5px;
      background: #007bff;
      color: #fff;
      position: relative;
      border-radius: 3px;
      min-height: 40px;
      height: 45px; }
      .mapleftBx ul li i {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 6px;
        top: 4px;
        border-radius: 50%; }
        .mapleftBx ul li i img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
        .mapleftBx ul li i small {
          position: absolute;
          right: -3px;
          top: 7px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #23c323;
          box-shadow: rgba(255, 255, 255, 0.9) 0 0 3px 2px; }
      .mapleftBx ul li strong {
        display: block;
        padding-top: 5px; }
        .mapleftBx ul li strong .addTrackBtn {
          background: #fff;
          border: 0;
          border-radius: 3px !important;
          color: #333;
          font-size: 3px !important;
          line-height: 18px;
          padding: 5px 15px !important; }
      .mapleftBx ul li > span {
        display: block;
        padding-top: 4px;
        position: absolute;
        left: 54px;
        top: 6px; }
      .mapleftBx ul li .frdMsgBtn {
        font-size: 13px !important;
        color: #666 !important;
        padding: 0 !important;
        background: none !important;
        border: none !important; }
      .mapleftBx ul li .frdMsgBtnHover {
        font-size: 16px !important;
        color: none !important;
        padding: 0 !important;
        background: none !important;
        border: none !important; }

.gpsLocat {
  position: absolute;
  right: 10px;
  top: 140px;
  z-index: 9;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  box-shadow: #666 0 0 5px 0px; }
  .gpsLocat img {
    width: 20px;
    height: 20px; }

.collapse.show {
  height: 0px !important;
  position: absolute;
  top: 0;
  right: 0; }
  .collapse.show .mapleftBx {
    left: 0px;
    box-shadow: #ccc 0 0px 5px 0;
    top: -1px;
    bottom: 0px; }

.collapse:not(.show) {
  height: 0 !important; }

.maptoggle {
  width: auto;
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  z-index: 1; }
  .maptoggle .maplistBtn {
    position: fixed;
    left: 1px;
    top: 72px;
    z-index: 9;
    background: #007bff url("../../assets/images/arrow-show.png") center center no-repeat;
    padding-right: 10px !important; }
    @media (max-width: 767px) {
      .maptoggle .maplistBtn {
        left: 0px;
        top: 55px; } }
    @media (max-width: 479px) {
      .maptoggle .maplistBtn {
        top: 55px; } }
  .maptoggle :focus {
    box-shadow: none !important; }

.collapse.show + .maplistBtn {
  background: #007bff url("../../assets/images/arrow-hide.png") center center no-repeat;
  left: 280px; }

.NewCssMapBg .map-pro-box img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important; }

.gm-style > div > div > div > div > img {
  border-radius: 50% !important; }

.NewCssMapBg .map-pro-box .map-prop-price {
  font-size: 14px !important;
  margin-top: 7px; }

.maptopstrip {
  display: none; }

.map-prop-detail {
  width: 70% !important; }

.map-prop-price {
  width: 70% !important; }

.addtrackLink.btn.btn-secondary {
  background: none !important;
  border: 0 !important;
  position: absolute;
  top: 3px;
  right: 13px;
  padding: 10px 10px !important; }
  .addtrackLink.btn.btn-secondary span {
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    margin-bottom: 4px; }

.mapleftBx .collapse.show {
  height: auto !important;
  height: 0px !important;
  position: absolute;
  top: 7px;
  right: 12px; }

.mapmsgList span {
  display: block; }

.gm-svpc {
  top: -30px !important; }

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom .gmnoprint {
  top: 12px !important; }

.mapmsgList {
  background: #fff;
  position: absolute;
  right: 28px;
  width: 165px;
  top: 24px;
  z-index: 99;
  border-radius: 5px 0 5px 5px;
  box-shadow: #666 0 0 5px 1px; }
  .mapmsgList:after {
    border-top: transparent solid 0px;
    border-bottom: transparent solid 14px;
    border-left: #fff solid 10px;
    content: '';
    position: absolute;
    right: -10px;
    top: 0px; }
  .mapmsgList span {
    display: block;
    border-bottom: #ccc solid 1px;
    padding: 3px 10px;
    line-height: 20px;
    font-size: 16px !important; }
  .mapmsgList:last-child {
    border-bottom: 0px; }
