/*Media Query Mixing*/
/*Overlay Mixin*/
/*Color*/
/*white-box Mixin*/
/*blog heading Mixin*/
.findFrdBg {
  background: #fff;
  box-shadow: #e5e5e5 0 10px 10px 0;
  position: relative; }
  @media (max-width: 991px) {
    .findFrdBg {
      padding-bottom: 10px; } }
  .findFrdBg .findfrdHd {
    font-size: 20px;
    color: #000000;
    line-height: 50px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .findFrdBg .findfrdHd {
        font-size: 16px;
        line-height: 30px; } }
  .findFrdBg .trackingBy {
    color: #999;
    padding-top: 12px;
    text-align: right; }
    .findFrdBg .trackingBy a {
      display: inline-block;
      color: #999;
      font-size: 16px;
      font-weight: 300;
      margin: 0 3px; }
      @media (max-width: 479px) {
        .findFrdBg .trackingBy a {
          font-size: 13px; } }
      .findFrdBg .trackingBy a span {
        color: #118eff; }
      .findFrdBg .trackingBy a:hover {
        color: #000;
        text-decoration: underline; }

.dashBg {
  background: url(/assets/images/dashBg.png) top center no-repeat;
  background-size: cover;
  padding: 50px 0; }
  .dashBg .addFrdInn {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: #ccc 0 2px 5px 0; }
    @media (max-width: 991px) {
      .dashBg .addFrdInn {
        padding: 10px;
        min-height: 115px; } }
    @media (max-width: 767px) {
      .dashBg .addFrdInn {
        min-height: 0px; } }
    .dashBg .addFrdInn .frdListImg img {
      width: 90px;
      height: 90px;
      border-radius: 50%; }
      @media (max-width: 991px) {
        .dashBg .addFrdInn .frdListImg img {
          width: 55px;
          height: 55px; } }
      @media (max-width: 479px) {
        .dashBg .addFrdInn .frdListImg img {
          width: 45px;
          height: 45px; } }
    .dashBg .addFrdInn .frdListName {
      padding: 0px; }
      .dashBg .addFrdInn .frdListName strong {
        font-size: 22px;
        font-weight: 500;
        display: block;
        line-height: 25px; }
        @media (max-width: 1199px) {
          .dashBg .addFrdInn .frdListName strong {
            font-size: 18px; } }
        @media (max-width: 991px) {
          .dashBg .addFrdInn .frdListName strong {
            font-size: 14px;
            line-height: 20px; } }
        @media (max-width: 479px) {
          .dashBg .addFrdInn .frdListName strong {
            font-size: 12px;
            line-height: 20px; } }
      .dashBg .addFrdInn .frdListName small {
        display: block;
        font-size: 18px;
        color: #999;
        padding-bottom: 8px; }
        @media (max-width: 1199px) {
          .dashBg .addFrdInn .frdListName small {
            font-size: 15px; } }
        @media (max-width: 991px) {
          .dashBg .addFrdInn .frdListName small {
            font-size: 12px; } }
        @media (max-width: 479px) {
          .dashBg .addFrdInn .frdListName small {
            font-size: 10px; } }
      .dashBg .addFrdInn .frdListName a {
        color: #0e8bff;
        font-size: 15px;
        line-height: 21px; }
        @media (max-width: 991px) {
          .dashBg .addFrdInn .frdListName a {
            font-size: 12px;
            line-height: 18px; } }
    .dashBg .addFrdInn .frdListBtn {
      text-align: right;
      padding-top: 25px; }
      @media (max-width: 767px) {
        .dashBg .addFrdInn .frdListBtn {
          padding-top: 5px; } }
      @media (max-width: 479px) {
        .dashBg .addFrdInn .frdListBtn {
          padding-left: 0px; } }
      .dashBg .addFrdInn .frdListBtn .remove_Btn {
        color: #f14848;
        font-size: 14px;
        display: inline-block;
        line-height: 16px;
        border: #dcdcdc solid 1px;
        padding: 7px 12px;
        border-radius: 3px; }
        @media (max-width: 991px) {
          .dashBg .addFrdInn .frdListBtn .remove_Btn {
            font-size: 12px;
            padding: 7px 8px; } }
        @media (max-width: 479px) {
          .dashBg .addFrdInn .frdListBtn .remove_Btn {
            font-size: 12px;
            padding: 7px 5px; } }
        .dashBg .addFrdInn .frdListBtn .remove_Btn img {
          vertical-align: middle; }
