/*Media Query Mixing*/
/*Overlay Mixin*/
/*Color*/
/*white-box Mixin*/
/*blog heading Mixin*/
.sendAlert {
  margin: 40px 0; }
  @media (max-width: 639px) {
    .sendAlert {
      margin: 20px 0; } }

.SendAlertTo_Outer {
  background: #fff;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: #ccc 0 0 10px 1px; }
  .SendAlertTo_Outer .send-alert-user-list-section {
    overflow-y: auto;
    height: 400px;
    width: 100%;
    border: 1px solid #eee;
    background: #f8f8f8;
    margin: 10px 0; }

.sendAlertBox {
  background: #fff;
  margin-bottom: 20px;
  padding: 31px 40px;
  border-radius: 4px;
  box-shadow: 2px 2px 18px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: all ease-in .2s;
  border: 1px solid transparent; }
  @media (max-width: 639px) {
    .sendAlertBox {
      margin-bottom: 12px;
      padding: 20px 20px; } }
  .sendAlertBox h4 {
    margin-bottom: 0; }
    .sendAlertBox h4 span {
      font-size: 20px;
      margin-left: 7px; }
  .sendAlertBox .right-icon {
    float: right;
    opacity: 0.2;
    transition: all ease-in-out .2s;
    position: relative; }
    .sendAlertBox .right-icon img {
      filter: grayscale(100%);
      transition: all ease-in-out .2s; }

.sendAlertBoxActive {
  border: 1px solid #ff9f42; }
  .sendAlertBoxActive .right-icon {
    opacity: 1; }
    .sendAlertBoxActive .right-icon img {
      filter: grayscale(0%); }

.lastSendAlertBox {
  width: 98%;
  margin: auto;
  max-width: 539px; }

.sendAlertBtn {
  background: #ff9f42;
  color: #fff;
  width: 100%;
  border: 0;
  height: 60px;
  font-size: 21px;
  border-radius: 6px;
  max-width: 250px;
  font-weight: 500;
  box-shadow: 2px 2px 8px 2px #ffce9f;
  margin: auto;
  display: block;
  margin-top: 30px;
  cursor: pointer; }

.sendAlertToPopupBg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999; }
  .sendAlertToPopupBg .sendAlertPopupBox {
    width: 94%;
    max-width: 490px;
    background: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 550px;
    border-radius: 7px;
    padding: 20px; }

.send-alert-user-list-section {
  overflow-y: scroll;
  height: 350px;
  width: 100%; }
  @media (max-width: 639px) {
    .send-alert-user-list-section {
      height: 344px; } }
  .send-alert-user-list-section .chatting-user-box {
    position: relative;
    padding: 21px 20px 22px 28px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: all ease-in-out .2s; }
    .send-alert-user-list-section .chatting-user-box:hover {
      background: #f8f8f8; }
    @media (max-width: 991px) {
      .send-alert-user-list-section .chatting-user-box {
        padding: 10px 14px; } }
    .send-alert-user-list-section .chatting-user-box img {
      width: 52px;
      height: 52px;
      border-radius: 50px;
      position: absolute;
      left: 15px;
      top: 19px; }
      @media (max-width: 991px) {
        .send-alert-user-list-section .chatting-user-box img {
          width: 32px;
          height: 32px;
          left: 11px;
          top: 13px; } }
    .send-alert-user-list-section .chatting-user-box .chatting-user-list-text {
      padding-left: 50px;
      padding-top: 3px; }
      @media (max-width: 991px) {
        .send-alert-user-list-section .chatting-user-box .chatting-user-list-text {
          padding-left: 38px; } }
      .send-alert-user-list-section .chatting-user-box .chatting-user-list-text h5 {
        font-size: 16px;
        margin-bottom: 3px;
        font-weight: 500; }
        @media (max-width: 991px) {
          .send-alert-user-list-section .chatting-user-box .chatting-user-list-text h5 {
            font-size: 13px; } }
      .send-alert-user-list-section .chatting-user-box .chatting-user-list-text p {
        margin-bottom: 0;
        font-size: 14px;
        color: #999;
        letter-spacing: 0.5px; }
        @media (max-width: 991px) {
          .send-alert-user-list-section .chatting-user-box .chatting-user-list-text p {
            font-size: 11px; } }

.sendAlertPopupBox h4 {
  font-size: 19px;
  margin-bottom: 17px;
  font-weight: 600; }

.sendAlertPopupBox .popup-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer; }

.send-alert-btn-popup {
  background: #ff9f42;
  color: #fff;
  width: 100%;
  border: 0;
  height: 48px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 160px;
  font-weight: 500;
  box-shadow: 2px 2px 8px 2px #ffce9f;
  margin: auto;
  display: block;
  margin-top: 15px;
  cursor: pointer; }

.serach-bar-on-poup {
  position: relative;
  margin-bottom: 10px; }
  .serach-bar-on-poup input {
    width: 100%;
    padding: 10px 19px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px 1px #eee;
    border-radius: 5px; }
  .serach-bar-on-poup img {
    position: absolute;
    right: 15px;
    top: 12px; }

/*** custom checkboxes ***/
.checkb-box label {
  margin-bottom: 0; }

.checkb-box {
  position: absolute;
  right: 5px;
  top: 30%;
  padding-right: 10px; }
  .checkb-box input[type="checkbox"] {
    display: block; }

/*input[type="checkbox"] {
	display: none;
	
  }*/
/* to hide the checkbox itself */
input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 30px;
  color: #ccc; }
  @media (max-width: 639px) {
    input[type="checkbox"] + label:before {
      font-size: 23px; } }

input[type="checkbox"] + label:before {
  content: "\f096"; }

/* unchecked icon */
input[type="checkbox"] + label:before {
  letter-spacing: 10px; }

/* space between checkbox and label */
input[type="checkbox"]:checked + label:before {
  content: "\f046";
  color: #46ce93; }

/* checked icon */
input[type="checkbox"]:checked + label:before {
  letter-spacing: 5px; }

/* allow space for check mark */
.alertBackBtn {
  text-align: right;
  padding-bottom: 10px;
  padding-right: 5px; }
